In [2]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [3]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       6.686620     True          18          1             43.0
1       9.360828     True          32          1             41.0
2       8.437091    False          30          1             39.0
3       6.124442    False          24          1             40.0
4       7.125340    False          26          1             41.0

In [4]:
df.isna().sum()

weight_pounds       11
is_male              0
mother_age           0
plurality            0
gestation_weeks    110
dtype: int64

In [5]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9989.000000  10000.000000  10000.000000      9890.000000
mean        7.297602     27.298900      1.034400        38.699798
std         1.291685      6.165838      0.192926         2.539957
min         0.612885     12.000000      1.000000        17.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        12.257702     50.000000      3.000000        47.000000

In [8]:
df[df.isna().any(axis=1)]

      weight_pounds  is_male  mother_age  plurality  gestation_weeks
202        8.434886    False          27          1              NaN
329        8.249698     True          39          1              NaN
429        7.936641    False          21          1              NaN
505        7.561856     True          35          1              NaN
582        7.749249     True          31          1              NaN
...             ...      ...         ...        ...              ...
9483       8.000575     True          36          1              NaN
9548       1.124358     True          33          1              NaN
9724            NaN    False          35          2             34.0
9806            NaN    False          28          2              NaN
9841       7.063611    False          17          1              NaN

[117 rows x 5 columns]

In [9]:
df[df.isna().any(axis=1)].describe()

       weight_pounds  mother_age   plurality  gestation_weeks
count     106.000000  117.000000  117.000000         7.000000
mean        7.148010   26.589744    1.076923        27.714286
std         1.677195    6.211993    0.267615         6.969321
min         1.124358   15.000000    1.000000        17.000000
25%         6.555997   21.000000    1.000000        24.000000
50%         7.312733   27.000000    1.000000        28.000000
75%         8.113011   32.000000    1.000000        31.500000
max        11.278849   39.000000    2.000000        38.000000

In [10]:
df['is_male'].value_counts()

True     5150
False    4850
Name: is_male, dtype: int64

In [11]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [12]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)