In [2]:
import pandas as pd
import tensorflow as tf
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense

import numpy as np
import json

from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
from google.cloud import bigquery
from witwidget.notebook.visualization import WitWidget, WitConfigBuilder

In [3]:
query="""
SELECT
  weight_pounds,
  is_male,
  mother_age,
  plurality,
  gestation_weeks
FROM
  publicdata.samples.natality
WHERE year > 2000
LIMIT 10000
"""
df = bigquery.Client().query(query).to_dataframe()
df.head()

   weight_pounds  is_male  mother_age  plurality  gestation_weeks
0       6.686620     True          18          1             43.0
1       9.360828     True          32          1             41.0
2       8.437091    False          30          1             39.0
3       6.124442    False          24          1             40.0
4       7.125340    False          26          1             41.0

In [4]:
df.isna().sum()

weight_pounds       11
is_male              0
mother_age           0
plurality            0
gestation_weeks    110
dtype: int64

In [5]:
df.describe()

       weight_pounds    mother_age     plurality  gestation_weeks
count    9989.000000  10000.000000  10000.000000      9890.000000
mean        7.297602     27.298900      1.034400        38.699798
std         1.291685      6.165838      0.192926         2.539957
min         0.612885     12.000000      1.000000        17.000000
25%         6.624891     22.000000      1.000000        38.000000
50%         7.374463     27.000000      1.000000        39.000000
75%         8.124034     32.000000      1.000000        40.000000
max        12.257702     50.000000      3.000000        47.000000

In [8]:
df[df.isna().any(axis=1)]

      weight_pounds  is_male  mother_age  plurality  gestation_weeks
202        8.434886    False          27          1              NaN
329        8.249698     True          39          1              NaN
429        7.936641    False          21          1              NaN
505        7.561856     True          35          1              NaN
582        7.749249     True          31          1              NaN
...             ...      ...         ...        ...              ...
9483       8.000575     True          36          1              NaN
9548       1.124358     True          33          1              NaN
9724            NaN    False          35          2             34.0
9806            NaN    False          28          2              NaN
9841       7.063611    False          17          1              NaN

[117 rows x 5 columns]

In [9]:
df[df.isna().any(axis=1)].describe()

       weight_pounds  mother_age   plurality  gestation_weeks
count     106.000000  117.000000  117.000000         7.000000
mean        7.148010   26.589744    1.076923        27.714286
std         1.677195    6.211993    0.267615         6.969321
min         1.124358   15.000000    1.000000        17.000000
25%         6.555997   21.000000    1.000000        24.000000
50%         7.312733   27.000000    1.000000        28.000000
75%         8.113011   32.000000    1.000000        31.500000
max        11.278849   39.000000    2.000000        38.000000

In [10]:
df['is_male'].value_counts()

True     5150
False    4850
Name: is_male, dtype: int64

In [11]:
df = df.dropna()
df = shuffle(df, random_state=2)

In [12]:
labels = df['weight_pounds']
data = df.drop(columns=['weight_pounds'])
data['is_male'] = data['is_male'].astype(int)

In [ ]:
#TRAIN and TEST

In [16]:
x,y = data,labels
x_train,x_test,y_train,y_test = train_test_split(x,y)

In [17]:
model = Sequential([
    Dense(64, activation='relu', input_shape=(len(x_train.iloc[0]),)),
    Dense(32, activation='relu'),
    Dense(1)]
)

In [18]:
model.compile(optimizer=tf.keras.optimizers.RMSprop(),
              loss=tf.keras.losses.MeanSquaredError(),
              metrics=['mae', 'mse'])

In [19]:
model.fit(x_train, y_train, epochs=10, validation_split=0.1)

2022-04-29 16:16:40.576152: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)

Epoch 1/10
209/209 [==============================] - 2s 5ms/step - loss: 2.1797 - mae: 1.0603 - mse: 2.1797 - val_loss: 1.2587 - val_mae: 0.8862 - val_mse: 1.2587
Epoch 2/10
209/209 [==============================] - 1s 4ms/step - loss: 1.4631 - mae: 0.9508 - mse: 1.4631 - val_loss: 1.9244 - val_mae: 1.1254 - val_mse: 1.9244
Epoch 3/10
209/209 [==============================] - 1s 4ms/step - loss: 1.3649 - mae: 0.9167 - mse: 1.3649 - val_loss: 1.6641 - val_mae: 1.0311 - val_mse: 1.6641
Epoch 4/10
209/209 [==============================] - 1s 4ms/step - loss: 1.3403 - mae: 0.9046 - mse: 1.3403 - val_loss: 1.9310 - val_mae: 1.1278 - val_mse: 1.9310
Epoch 5/10
209/209 [==============================] - 1s 3ms/step - loss: 1.3105 - mae: 0.8946 - mse: 1.3105 - val_loss: 1.4465 - val_mae: 0.9570 - val_mse: 1.4465
Epoch 6/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2842 - mae: 0.8850 - mse: 1.2842 - val_loss: 1.8884 - val_mae: 1.0925 - val_mse: 1.8884
Epoch 7/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2608 - mae: 0.8814 - mse: 1.2608 - val_loss: 1.3164 - val_mae: 0.9062 - val_mse: 1.3164
Epoch 8/10
209/209 [==============================] - 1s 4ms/step - loss: 1.2517 - mae: 0.8767 - mse: 1.2517 - val_loss: 1.2346 - val_mae: 0.8791 - val_mse: 1.2346
Epoch 9/10
209/209 [==============================] - 1s 3ms/step - loss: 1.2164 - mae: 0.8606 - mse: 1.2164 - val_loss: 1.8381 - val_mae: 1.0767 - val_mse: 1.8381
Epoch 10/10
209/209 [==============================] - 1s 3ms/step - loss: 1.1941 - mae: 0.8582 - mse: 1.1941 - val_loss: 1.5059 - val_mae: 0.9656 - val_mse: 1.5059